@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
    width: 100%;
  }

  body {
    font-family: 'Cairo', sans-serif;
    background: #070d24;
    color: #ffffff;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
  }
}
